<mat-icon class="close-dialog-content" mat-dialog-close>close</mat-icon>
<h1 mat-dialog-title class="title-certificate"><b>{{data.name}}</b></h1>
<div mat-dialog-content class="contend-certificate">
    <div class="image">
        <img src="{{data.image}}" alt="">
    </div>
    <div class="contendData">
        <div class="gender">
            <p>Gender: </p>{{data.gender}}
        </div>
        <div class="species">
            <p>Species: </p>{{data.species}}
        </div>
        <div class="status">
            <p>Status: </p>{{data.status}}
        </div>
    </div>
</div>
